* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

/* title section */

#title {
  width: 70vw;
}

#title h1 {
  text-decoration: underline;
  text-transform: capitalize;
}

/* leaderboard sections */

#leaderboard {
  padding: 24px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

#leaderboard h2 {
  display: inline-block;
}

#leaderboard button {
  padding: 0.5em 1em;
  background: transparent;
  border: 2px solid #000;
  box-shadow: 5px 5px 3px #000;
}

#leaderboad-ul {
  min-width: 100%;
  list-style: none;
  border: 2px solid #000;
  box-shadow: 5px 5px 3px #000;
  min-height: 188px;
  max-height: 325px;
  overflow: hidden;
  overflow-y: visible;
}

#leaderboad-ul li {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 8px;
}

#leaderboad-ul li:nth-child(even) {
  background: #dadada;
}

/* add section */

#addScore {
  padding: 24px;
  width: 80vw;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

#addScore form {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 24px;
}

#addScore form input {
  padding: 8px;
  width: 100%;
  outline: none;
  border: 2px solid #000;
}

#addScore form input:last-of-type {
  padding: 0.5em 1em;
  width: 30%;
  outline: none;
  border: 2px solid #000;
  background: transparent;
  box-shadow: 5px 5px 3px #000;
}

/* media queries */

@media screen and (min-width: 768px) {
  #leaderboard {
    width: 40vw;
  }

  #addScore {
    width: 20vw;
  }
}
